<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title></title>
    <style>
        #app {
            display: block;
            padding: 1rem;
            font-size: 1rem;
        }

        #app>ul>li {
            margin-left: 0;
        }

        ul>li {
            display: block;
            margin-left: 1rem;
            margin-bottom: 0.5rem;
            padding: 8px;
            background-color: #eee;
        }

        h2.has-child {
            cursor: pointer;
        }

        h2.has-child::before {
            content: '+ ';
        }

        h2.has-child.is-open::before {
            content: '- ';
        }

        a {
            color: #333;
            text-decoration: none;
        }

        a:hover {
            color: red;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- Magic -->
        <menu-component :title="menuData.name" :child="menuData.childNodes"></menu-component>
    </div>




















    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const menuData = {
            name: '好書推薦',
            childNodes: [{
                name: 'Git',
                url: null,
                childNodes: [{
                    name: '為你自己學 Git',
                    url: 'https://www.tenlong.com.tw/products/9789864342662'
                }]
            },
            {
                name: '前端開發',
                url: null,
                childNodes: [{
                    name: '金魚都能懂的 CSS 選取器',
                    url: 'https://www.tenlong.com.tw/products/9789864344994'
                },
                {
                    name: '0 陷阱！0 誤解！8 天重新認識 JavaScript！',
                    url: 'https://www.tenlong.com.tw/products/9789864344130'
                },
                {
                    name: '讓 TypeScript 成為你全端開發的 ACE！',
                    url: 'https://www.tenlong.com.tw/products/9789864344895'
                },
                ]
            },
            {
                name: 'IoT',
                url: null,
                childNodes: [{
                    name: 'IoT沒那麼難！新手用 JavaScript 入門做自己的玩具！',
                    url: 'https://www.tenlong.com.tw/products/9789864345328'
                }]
            },
            {
                name: 'Chatbot',
                url: null,
                childNodes: [{
                    name: '人人可作卡米狗：從零打造自己的 LINE 聊天機器人',
                    url: 'https://www.tenlong.com.tw/products/9789864342938'
                }]
            }
            ]
        };

        const app = Vue.createApp({
            data() {
                return {
                    menuData
                }
            }
        });

        app.component('menu-component', {
            name: `menu-component`,
            props: {
                title: String,
                url: String,
                child: {
                    type: Array,
                    default: []
                }
            },
            data() {
                return {
                    isOpen: false
                }
            },
            template: `
                    <ul>
                        <li>
                            <template v-if="child.length > 0">
                            <h2 class="has-child"
                                :class="{ 'is-open': isOpen }"
                                @click="isOpen = !isOpen">{{ title }}</h2>
                                <menu-component 
                                    v-show="isOpen"
                                    v-for="c in child"
                                    :title="c.name"
                                    :child="c.childNodes"
                                    :url="c.url"
                                    />
                            </template>
                            <a :href="url" target="_blank" v-else>{{ title }}</a>
                        </li>
                    </ul>`
        });


        app.mount('#app');
    </script>
</body>

</html>